python-dotenv
pydantic
requests
pytest
langchain
langchain-core
langchain-openai
langgraph
streamlit
pandas
langchain-azure-ai
langchain-groq
fastapi
uvicorn[standard]
pyjwt
pydantic
redis
fakeredis
httpx
